* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Container */
.container {
    max-width: 1250px;
    padding: 0 32px;
    margin: auto;
}


/* Header */
header {
    width: 100%;
    padding: 3px 8px;
    background-color: #A5C926;
}

.header-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Info */
.header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-p1,
.header-p2 {
    color: white;
    font-size: 11px;
}

.header-p2-span {
    cursor: pointer;
    text-decoration: underline;
}

/* Header Icons */
.header-icons {
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons i {
    padding: 5px 8px;
    border-radius: 9999px;
}

.header-icons i:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: .3s;
}


/* Navbar */
.navbar {
    width: 100%;
    background-color: white;
    /* position: fixed;
    z-index: 999; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Navbar Text */
.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav .navbar-text ul li {
    display: inline-block;
    list-style: none;
    padding: 12px 18px;
}

nav .navbar-text ul li a {
    color: #111111;
    text-decoration: none;
    font-size: 14px;
}

nav .navbar-text ul li a:hover {
    text-decoration: underline;
}

.navbar-logo-p1 {
    display: inline;
    font-size: 22px;
    color: #333333;
}

/* Navbar Carts */
.navbar-carts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-carts-p1 {
    color: #111111;
    font-size: 14px;
    cursor: pointer;
}

.navbar-carts i {
    padding: 9px 15px;
    font-size: 22px;
    cursor: pointer;
}

.navbar-carts-p2 {
    font-size: 12px;
    color: white;
    padding: 1px 6px;
    border-radius: 9999px;
    background-color: #A5C926;
    cursor: pointer;
}

/* Navbar menu */
.navbar-menu {
    margin-left: 1rem;
    display: none;
}


/* Section 1 */
.section1 {
    width: 100%;
    padding: 128px 16px;
    background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5baddd4835e113c6299a48f5_li-tzuni-507346-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.sec1-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1-box {
    width: 49%;
    height: 310px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec1-p1 {
    color: #A5C926;
    font-size: 13px;
    margin: 0 0 0 16px;
    font-weight: bold;
}

.sec1-p2 {
    color: #111111;
    font-size: 40px;
    margin: 0 0 0 20px;
    text-align: center;
}

.sec1-btn {
    font-size: 14px;
    padding: 12px 28px;
    color: white;
    background-color: #A5C926;
    border-radius: 24px;
    font-weight: 600;
    border: 1px solid #A5C926;
    margin-top: 20px;
}

.sec1-btn:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s;
}

/* Mouse */
.mouse {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 64px;
    border-radius: 9999px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -32px;
    -webkit-box-pack: center;
    font-size: 25px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.mouse:active {
    transform: scale(1.05);
}


/* Section 2 */
.section2 {
    width: 100%;
    padding: 120px 24px;
    background-color: #f8f8f8;
}

.sec2-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Box 1 */
.sec2-box1 {
    width: 45%;
    height: 220px;
    border-radius: 16px;
    background-color: #FFC12C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2-box1-forimg {
    width: 45%;
    height: 100%;
    position: relative;
}

.sec2-box1-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -3rem;
}

.sec2-box1-fortext {
    width: 45%;
    height: 100%;
    margin-left: 1rem;
}

.sec2-box1-p1 {
    color: white;
    font-size: 28px;
    margin-top: 3rem;
}

.sec2-box1-btn {
    color: #111111;
    font-size: 13px;
    padding: 10px 24px;
    border-radius: 16px;
    margin-top: 1rem;
    border: 1px solid white;
    font-weight: 600;
}

.sec2-box1-btn:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s
}

/* Box 2 */
.sec2-box2 {
    width: 45%;
    height: 220px;
    border-radius: 16px;
    background-color: #FB416B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2-box2-fortext {
    width: 45%;
    height: 100%;
    position: relative;
}

.sec2-box2-p1 {
    color: white;
    font-size: 28px;
    margin-top: 3rem;
    margin-left: 4.5rem;
}

.sec2-box2-btn {
    color: #111111;
    font-size: 13px;
    padding: 10px 24px;
    border-radius: 16px;
    margin-top: 1rem;
    border: 1px solid white;
    font-weight: 600;
    position: absolute;
    right: 0;
}

.sec2-box2-btn:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s
}

.sec2-box2-forimg {
    width: 45%;
    height: 100%;
    position: relative;
}

.sec2-box2-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -3rem;
}


/* Section 3 */
.section3 {
    width: 100%;
    padding: 0px 24px 120px;
    background-color: #f8f8f8;
}

.sec3-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec3-p1 {
    color: #111111;
    font-size: 28px;
}

.sec3-p2-fordiv {
    border-bottom: 2px solid #ddd;
}

.sec3-p2-fordiv:hover {
    cursor: pointer;
    border-bottom: 2px solid #A5C926;
    transition: .3s;
}

.sec3-p2 {
    display: inline;
    color: #111111;
    font-weight: 600;
    font-size: 13px;
}

.bi-arrow-right-short {
    font-weight: bolder;
}

.sec3-line {
    width: 100%;
    height: 1.5px;
    background-color: #E5E5E5;
    margin: 32px 0px 0px;
}

.sec3-line-color {
    width: 10%;
    height: 100%;
    background-color: #A5C926;
}

/* Boxs */
.sec3-boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

/* Box 1 */
.sec3-box1 {
    width: 23%;
    padding: 24px 24px 32px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec3-box1:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.sec3-box1-img {
    width: 90%;
    height: auto;
}

.sec3-box1-p1 {
    margin-top: 2rem;
}

.sec3-box1-p2 {
    margin-top: 10px;
    padding: 2px 12px;
    background-color: #A5C926;
    font-size: 12px;
    font-weight: 400;
    border-radius: 16px;
    color: white;
}

/* Box 2 */
.sec3-box2 {
    width: 23%;
    padding: 24px 24px 32px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec3-box2:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.sec3-box2-img {
    width: 90%;
    height: auto;
}

.sec3-box2-p1 {
    margin-top: 2rem;
}

.sec3-box2-p2 {
    margin-top: 10px;
    padding: 2px 12px;
    background-color: #A5C926;
    font-size: 12px;
    font-weight: 400;
    border-radius: 16px;
    color: white;
}

/* Box 3 */
.sec3-box3 {
    width: 23%;
    padding: 24px 24px 32px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec3-box3:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.sec3-box3-img {
    width: 90%;
    height: auto;
}

.sec3-box3-p1 {
    margin-top: 2rem;
}

.sec3-box3-p2 {
    margin-top: 10px;
    padding: 2px 12px;
    background-color: #A5C926;
    font-size: 12px;
    font-weight: 400;
    border-radius: 16px;
    color: white;
}

/* Box 4 */
.sec3-box4 {
    width: 23%;
    padding: 24px 24px 32px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec3-box4:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.sec3-box4-img {
    width: 90%;
    height: auto;
}

.sec3-box4-p1 {
    margin-top: 2.5rem;
}

.sec3-box4-p2 {
    margin-top: 10px;
    padding: 2px 12px;
    background-color: #A5C926;
    font-size: 12px;
    font-weight: 400;
    border-radius: 16px;
    color: white;
}



/* Section 4 */
.section4 {
    width: 100%;
    padding: 0px 24px 120px;
    background-color: #f8f8f8;
}

.sec4-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec4-p1 {
    color: #111111;
    font-size: 28px;
}

.sec4-p2-fordiv {
    border-bottom: 2px solid #ddd;
}

.sec4-p2-fordiv:hover {
    cursor: pointer;
    border-bottom: 2px solid #A5C926;
    transition: .3s;
}

.sec4-p2 {
    display: inline;
    color: #111111;
    font-weight: 600;
    font-size: 13px;
}

.sec4-line {
    width: 100%;
    height: 2px;
    background-color: #E5E5E5;
    margin: 32px 0px 0px;
}

.sec4-line-color {
    width: 10%;
    height: 100%;
    background-color: #A5C926;
}

/* Boxs */
.sec4-boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

/* Box 1 */
.sec4-box1 {
    width: 23%;
    padding: 24px 24px 32px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec4-box1:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.sec4-box1-img {
    width: 90%;
    height: auto;
}

.sec4-box1-p1 {
    margin-top: 2rem;
}

.sec4-box1-p2 {
    margin-top: 10px;
    padding: 2px 12px;
    background-color: #A5C926;
    font-size: 12px;
    font-weight: 400;
    border-radius: 16px;
    color: white;
}

/* Box 2 */
.sec4-box2 {
    width: 23%;
    padding: 24px 24px 32px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec4-box2:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.sec4-box2-img {
    width: 90%;
    height: auto;
}

.sec4-box2-p1 {
    margin-top: 2rem;
}

.sec4-box2-p2 {
    margin-top: 10px;
    padding: 2px 12px;
    background-color: #A5C926;
    font-size: 12px;
    font-weight: 400;
    border-radius: 16px;
    color: white;
}

/* Box 3 */
.sec4-box3 {
    width: 23%;
    padding: 24px 24px 32px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec4-box3:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.sec4-box3-img {
    width: 90%;
    height: auto;
}

.sec4-box3-p1 {
    margin-top: 2rem;
}

.sec4-box3-p2 {
    margin-top: 10px;
    padding: 2px 12px;
    background-color: #A5C926;
    font-size: 12px;
    font-weight: 400;
    border-radius: 16px;
    color: white;
}

/* Box 4 */
.sec4-box4 {
    width: 23%;
    padding: 24px 24px 32px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec4-box4:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.sec4-box4-img {
    width: 90%;
    height: auto;
}

.sec4-box4-p1 {
    margin-top: 2.5rem;
}

.sec4-box4-p2 {
    margin-top: 10px;
    padding: 2px 12px;
    background-color: #A5C926;
    font-size: 12px;
    font-weight: 400;
    border-radius: 16px;
    color: white;
}


/* Section 5 */
.section5 {
    width: 100%;
    height: 500px;
    background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5baf3d57ace69c149bb331b8_tim-gouw-165547-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.sec5-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sec5-p1 {
    color: white;
    font-size: 13px;
    margin: 0px 0px 16px;
    font-weight: 600;
    margin-top: 7rem;
}

.sec5-p2 {
    color: white;
    font-size: 36px;
    margin: 0px 0px 16px;
}

.sec5-p3 {
    color: white;
    font-size: 14px;
    margin: 0px 0px 28px;
}

.img-ghost {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    opacity: 0.7;
}

.sec5-play {
    margin-top: 1rem;
}

.sec5-play .bi-play-fill {
    font-size: 30px;
    color: white;
    padding: 10px 15px;
    background-color: #A5C926;
    border-radius: 9999px;
}

.sec5-play:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s;
}


/* Section 6 */
.section6 {
    width: 100%;
    padding: 0px 24px 120px;
    background-color: #f8f8f8;
}

.sec6-p1 {
    font-size: 13px;
    color: #A5C926;
    margin: 0px 0px 16px;
    text-align: center;
}

.sec6-p2 {
    font-size: 32px;
    color: #111111;
    margin: 0px 0px 16px;
    text-align: center;
    font-weight: 400;
}

.sec6-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

/* For Text */
.sec6-fortext-p1 {
    color: #111111;
    font-size: 32px;
    margin: 0px 0px 16px;
}

.sec6-fortext-p2 {
    color: #999999;
    font-size: 14px;
    margin-top: 1rem;
}

.sec6-btn {
    color: white;
    font-size: 14px;
    background-color: #A5C926;
    padding: 12px 28px;
    border-radius: 24px;
    font-weight: 600;
    border: 1px solid #A5C926;
    margin-top: 2rem;
}

.sec6-btn:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: .3s;
}

/* For Image */
.sec6-forimg {
    width: 50%;
    height: 450px;
}

.sec6-forimg-img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* Form */
.sec6-form {
    width: 100%;
    padding: 48px;
    margin-top: 7rem;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
}

.sec6-form-fortext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    gap: 10px;
}

.sec6-form-fortext .bi-send-fill {
    color: white;
    background-color: #A5C926;
    font-size: 25px;
    margin: 0px 24px 0px 0px;
    padding: 15px 20px;
    border-radius: 9999px;
}

.sec6-form-fortext-p1 {
    color: #111111;
    font-size: 24px;
    margin: 0px 0px 16px;
    font-weight: 400;
}

.sec6-form-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 1rem;
}

.sec6-input {
    font-size: 15px;
    background-color: #f8f8f8;
    margin: 0px 16px 0px 0px;
    padding: 10px 150px 10px 30px;
    border: 2px solid #E5E5E5;
    border-radius: 24px;
}

.sec6-form-btn {
    color: white;
    background-color: #A5C926;
    padding: 12px 28px;
    border: 0;
    border-radius: 24px;
    font-weight: 600;
}

.sec6-form-btn:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s;
}


/* Section 7 */
.section7 {
    width: 100%;
    padding: 0px 24px 120px;
    background-color: #f8f8f8;
}

.sec7-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec7-p1 {
    color: #A5C926;
    font-size: 13px;
    margin: 0px 0px 16px;
    font-weight: 600;
}

.sec7-p2 {
    color: #111111;
    font-size: 32px;
    font-weight: 400;
}

.sec7-boxs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.sec7-box1,
.sec7-box2,
.sec7-box3,
.sec7-box4,
.sec7-box5,
.sec7-box6 {
    width: 15%;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.sec7-box1 {
    background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5badecf79395558fbeb88a49_instagram-01.jpg);
}

.sec7-box1:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s;
}

.sec7-box2 {
    background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5badecf735e113f8679a57e6_instagram-02.jpg);
}

.sec7-box2:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s;
}

.sec7-box3 {
    background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5badecf735e11327b99a57e7_instagram-03.jpg);
}

.sec7-box3:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s;
}

.sec7-box4 {
    background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5badecf7939555df08b88a48_instagram-04.jpg);
}

.sec7-box4:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s;
}

.sec7-box5 {
    background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5badecf7939555514eb88a4a_instagram-05.jpg);
}

.sec7-box5:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s;
}

.sec7-box6 {
    background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5badecf71f2da2228d17155f_instagram-06.jpg);
}

.sec7-box6:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s;
}

.sec7-btn {
    color: white;
    background-color: #A5C926;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 28px;
    border: 1px solid #A5C926;
    border-radius: 24px;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
    margin-top: 5rem;
}

.sec7-btn:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -webkit-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    -moz-box-shadow: 0px 3px 8px -2px rgba(120, 117, 117, 0.64);
    transform: scale(1.05);
    transition: .3s;
}


/* Footer */
footer {
    width: 100%;
    padding: 48px 0px 20px;
    background-color: #A5C926;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav-logo {
    color: white;
    font-size: 22px;
    font-weight: 400;
}

.footer-nav-ul ul li {
    display: inline-block;
    list-style: none;
    padding: 12px 18px;
}

.footer-nav-ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-nav-ul ul li a:hover {
    text-decoration: underline;
}

.footer-nav-icons {
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav-icons i {
    padding: 5px 8px;
    border-radius: 9999px;
}

.footer-nav-icons i:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.footer-nomain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.footer-nomain-p1 {
    color: white;
    font-size: 11px;
}

.footer-nomain ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 11px;
}